<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1 class="text-center my-3">All Attractions</h1>

<div class="row justify-content-center">
  <form class="col-10 mb-3" id="search-list">
    <input type="text" class="form-control" placeholder="Search entries..." />
  </form>

  <div class="col-2 dropdown">
    <button
      class="btn btn-secondary dropdown-toggle float-end"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Filter Items
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Restaurants</a></li>
      <li><a class="dropdown-item" href="#">Bars</a></li>
      <li><a class="dropdown-item" href="#">Clubs</a></li>
      <li><a class="dropdown-item" href="#">Activities</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Clear filters</a></li>
    </ul>
  </div>
</div>

<% for (let attraction of attractions) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(attraction.image.length) { %>
      <img
        class="img-fluid"
        id="image"
        alt=""
        src="<%=attraction.image[0].url %> "
      />
      <% } else { %>
      <img
        class="img-fluid"
        id="image"
        src="https://res.cloudinary.com/dboytlu1p/image/upload/v1636848479/YelpCamp/xrga7jghkj1jpjtqxggh.jpg"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-8">
            <h5 class="card-title"><%= attraction.title %></h5>
          </div>
          <div class="col-4">
            <% if(attraction.category) { %>
            <span class="badge rounded-pill bg-secondary float-end">
              <%=attraction.category%>
            </span>
            <% } %>
          </div>
        </div>
        <p class="card-text"><%= attraction.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%= attraction.location %> </small>
        </p>
        <a class="btn btn-primary" href="/attractions/<%= attraction._id  %>"
          >View <%= attraction.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="d-grid gap-2">
  <a class="btn btn-primary m-3" type="button" href="/attractions/new"
    >Add new Attraction</a
  >
</div>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const attractions = {features: <%- JSON.stringify(attractions) %> }
</script>
<script src="/javascripts/clusterMap.js"></script>
<script src="/javascripts/searchBar.js"></script>
<script src="/javascripts/filter.js"></script>
